.footer {
    bottom: 0;
    position: relative;
    width: 100%;
    background-color: rgb(18 18 18 / var(--tw-bg-opacity));
    padding: 1rem 0;
}

.footer-main-div {
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.footer-content {
    display: flex;
    font-family: 'Atyp';
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.footer-text {
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--navbar-text-color);
    text-align: center;
}

.footer-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
}

.footer-privacy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.footer-links {
    color: var(--navbar-text-color);
    text-decoration: none;
}

.footer-links:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-content {
        gap: 1rem;
        flex-direction: column;
    }

    .footer-icon {
        margin: 0;
    }

    .footer-privacy {
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
    }
}

@media (min-width: 1024px) {

    .footer-content {
        gap: 12rem;
        flex-direction: row;
    }

    .footer-text {
        font-size: 14px;
        line-height: 20px;
    }
}